html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.feedback { color: black }
.feedback ul { list-style: none }
.feedback p { margin-bottom: 0 }

html {
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* стилизация хедера */

.header-up {
  min-height: 320px;
  background-color: #f3f7f9;
  margin-bottom: 60px;
}

.catalog-header {
  margin-bottom: 18px;
}

.main-header ul,
.catalog-header ul {
  list-style: none;
  margin: 0;
}

.store-navigation {
  background-color: #293449;
  margin-bottom: 45px;
}

.store-nav-container {
  display: flex;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.store-nav-wrapper {
  width: 490px;
  display: flex;
  justify-content: space-between;
}

.logo {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: content-box;
  padding-top: 10px;
  color: #ffffff;
  width: 220px;
  height: 30px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  border: 1px solid #e03643;
  box-shadow: 0 5px #b52933;
}

.catalog-header .header-logo:hover,
.catalog-header .header-logo:focus {
  background-color: #ca2c37;
  border-color: #bf2d38;
}

.catalog-header .header-logo:active {
  background-color: #ba2732;
  border: 1px solid #b72732;
  box-shadow: 0 5px #8e1e26;
}

.search-header {
  display: flex;
  position: relative;
  background-color: transparent;
}

.search-header .search {
  width: 180px;
  padding: 0 10px;
  background-color: #293449;
  border: none;
}

.search-header .search:focus,
.search-header:focus .search {
  height: auto;
  color: #000000;
  background-color: #ffffff;
}

.search-label {
  display: block;
  margin-left: -15px;
  padding-top: 12px;
  padding-left: 35px;
  position: relative;
  z-index: 1;
}

.search-label::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-image: url("../img/decor/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 5px 12px;
  width: 25px;
  height: 42px;
  z-index: 10;
}

.search-label:hover::before {
  background-image: url("../img/decor/icon-search-hover.svg");
}

.search:focus ~ .search-label,
.search-header:focus .search-label {
  color: #ffffff;
  background-color: #ffffff;
}

.search-label:focus {
  color: #ffffff;
  background-color: #ffffff;
}

.search-header:focus .search-label::before {
  background-image: url("../img/decor/icon-search-focus.svg");
  background-color: #ffffff;
}

.store-nav-link {
  width: 150px;
}

.store-nav-icon {
  display: block;
  position: relative;
  padding-top: 12px;
  padding-left: 45px;
  color: #ffffff;
  text-transform: none;
}

.header-cart {
  padding-left: 50px;
}

.store-nav-icon::before {
  content: "";
  position: absolute;
  top: 12px;
  left: 17px;
  background-image: url("../img/decor/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 25px;
  height: 23px;
}

.header-cart::before {

}

.store-nav-icon:hover::before,
.store-nav-icon:focus::before {
  background-image: url("../img/decor/icon-bookmark-focus.svg");
}

.header-cart::before {
  background-image: url("../img/decor/icon-cart.svg");
}

.header-cart:hover::before,
.header-cart:focus::before {
  background-image: url("../img/decor/icon-cart-focus.svg");
}

.full {
  background-color: #ee3643;
}

.full::before {
  background-image: url("../img/decor/icon-cart-full.svg");
}

.store-nav-link:hover,
.store-nav-link:focus {
  background-color: #212a3a;
}

.store-nav-link:active {
  color: #a2a5a9;
  background-color: #161d29;
}

.header-order {
  display: block;
  position: relative;
  padding: 11px 20px;
  color: #ffffff;
  background-color: #63a63e;
  text-transform: none;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  color: #aac39b;
  background-color: #518534;
}

.store-info {
  display: flex;
  position: relative;
  justify-content: space-between;
}

.header-text {
  width: 300px;
  margin: 0;
  margin-right: 35px;
  margin-bottom: 40px;
  padding: 5px 25px 0 53px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-phone {
  position: absolute;
  top: -20px;
  left: 332px;
  display: block;
  width: 270px;
  min-height: 45px;
  align-self: center;
  padding-left: 70px;
  padding-top: 10px;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  position: absolute;
  left: 12px;
  width: 25px;
  height: 25px;
  background-image: url("../img/decor/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  position: absolute;
  top: 37px;
  left: 340px;
  width: 260px;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  display: flex;
}
.user-nav-wrapper {
  margin-top: -10px;
  margin-left: -15px;
}

.user-login-li {
  padding-left: 50px;
}

.user-nav-link {
  color: #000000;
  background-color: #ffffff;
  margin-top: -35px;
  padding: 12px 25px;
  font-size: 21px;
  line-height: 18px;
  text-transform: none;
}

.user-login {
  position: relative;
  padding-left: 50px;
}

.user-login::before {
  content: "";
  position: absolute;
  top: 16px;
  left: 18px;
  background-image: url("../img/decor/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 48px;
  height: 26px;
  opacity: 0.3;
}

.user-login:hover::before,
.user-login:focus::before {
  opacity: 1;
}

.user-container-li {
  position: relative;
  text-align: center;
  background-color: #ffffff;
}

.user-container-name {
  width: 240px;
}

.user-name {
  display: inline-block;
  padding-top: 14px;
  padding-left: 40px;
  font-size: 21px;
  color: #000000;
  line-height: 18px;
  vertical-align: top;
  text-transform: none;
  background: url("../img/decor/icon-user.svg") no-repeat 7px 13px;
  background-color: #ffffff;
}

.user-name:hover,
.user-name:focus {
  background: url("../img/decor/icon-user-focus.svg") no-repeat 7px 13px;
  background-color: #ffffff;
}

.user-name:active,
.user-logout:active {
  background-color: #ffffff;
  opacity: 0.5;
}

.user-container-logout {
  width: 60px;
}

.user-logout {
  display: block;
  width: 30px;
  min-height: 45px;
  padding-top: 16px;
  padding-left: 30px;
  background-color: #ffffff;
}

.user-logout:hover path,
.user-logout:focus path {
  fill: #32425c;
  background-color: #ffffff;
}

.user-nav {
  width: 300px;
  min-height: 30px;
  padding-top: 6px;
  padding-left: 60px;
}

.user-nav a {
  margin-right: 27px;
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-transform: none;
  text-decoration: underline;
}

.user-nav a:nth-child(2)::before {
  content: "";
  position: absolute;
  top: 61px;
  right: 197px;

  width: 4px;
  height: 4px;
  background-color: #32425c;
  border-radius: 50%;
}

.user-nav a:hover,
.user-nav a:focus {
  color: #ee3643;
}

.user-nav a:active {
  color: #b7bfc8;
}

.user-link-li {
  margin-top: 13px;
  margin-left: 10px;
}

.user-nav-link:hover,
.user-nav-link:focus {
  color: #ee3643;
}

.user-nav-link:active {
  color: #b2b2b2;
}

.user-link a {
   font-size: 16px;
   line-height: 18px;
   color: #32425c;
   text-decoration: underline;
}

.user-link a:hover,
.user-link a:focus {
  color: #ee3643;
}

.user-link a:active {
 color: #b7bfc8;
}

.site-navigation {
  padding: 0 20px;
  font-size: 17px;
  line-height: 17px;
  color: #ffffff;
  background-color: #32425c;
  border-bottom: 5px solid #293449;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.nav-link a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 19px 25px;
  text-transform: none;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #293449;
}

.nav-link:active {
  color: #868c95;
  background-color: #1d2739;
}

.breadcrumbs {
  display: flex;
}

.breadcrumbs-item {
  width: 110px;
  min-height: 30px;
  padding-top: 3px;
}

.home-li {
  width: 25px;
}

.breadcrumbs-link {
  display: inline-block;
  position: relative;
  vertical-align: top;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.first::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 20px;
  height: 15px;
  background: url("../img/decor/icon-right-small.png") no-repeat 0 1px;
}

.second::before {
  content: "";
  position: absolute;
  top: 1px;
  left: -11px;
  width: 20px;
  height: 15px;
  background: url("../img/decor/icon-right-small.png") no-repeat 0 1px;
}

.second::after {
  content: "";
  position: absolute;
  top: 1px;
  left: 109px;
  width: 20px;
  height: 15px;
  background: url("../img/decor/icon-right-small.png") no-repeat 0 1px;
}

.home-link::before {
  content: "";
  position: absolute;
  top: 0;
  left: 3px;
  width: 20px;
  height: 15px;
  background: url("../img/decor/icon-home.svg") no-repeat -2px 2px;
}

.breadcrumbs .first {
  padding-left: 30px;
}

.breadcrumbs-item .second {
  padding-left: 11px;
}

.breadcrumbs .current {
  padding-left: 23px;
}

.current::before {
  background-position-x: -4px;
}

.catalog-title {
  margin: 0;
  min-height: 90px;
  margin-top: 10px;
  padding-top: 31px;
  padding-left: 28px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;
}

/* стилизация основной части страницы каталога  */

.catalog-wrapper {
  display: flex;
  margin-bottom: 60px;
}
/* стилизация блоков фильтр и сортировка в каталоге */

.catalog-part {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

fieldset {
  border: none;
}

.price-field {
  background-color: #f7f3ec;
  border: none;
}

.catalog legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}


.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-price {
  display: flex;
  margin: -19px 0 -12px -12px;
}

.filter-title {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  padding-top: 16px;
  padding-left: 2px;
  margin-bottom: 15px;
}

.filter-price-range {
  display: block;
  position: relative;
  width: 220px;
  min-height: 80px;
  margin-bottom: 8px;
  border-radius: 0 0 3px 3px;
  background-color: #f7f3ec;
}

.range-controls {
  min-height: 80px;
}

.range-controls .scale {
  position: absolute;
  top: 39px;
  left: 181px;

  width: 20px;
  height: 2px;

  background-color: #d7dcde;
}

.range-controls .bar {
  position: absolute;
  top: 0;
  right: 40px;
  width: 120px;
  height: 2px;
  background-color: #00ca74;
}



.range-toggle-max {
  position: absolute;
  top: 30px;
  right: 37px;
  width: 20px;
  height: 20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
 }

.range-toggle-max::before {
  content: "";
  position: absolute;
  top: 8px;
  right: 8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
}

.range-toggle-min {
  position: absolute;
  display: block;
  top: 30px;
  left: 23px;
  width: 20px;
  height: 20px;
  font-size:20px;
  background-color: #ffffff;
  border: 0;
  border-radius: 50%;
  box-shadow: 0 2px 1px 0 rgba(0, 1, 1, 0.2);
  cursor: pointer;
  flex-grow: 1;
}

.range-toggle-min::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 8px;
  width: 4px;
  height: 4px;
  background-color: #ababab;
  border-radius: 50%;
}

.filter-item {
  padding-left: 37px;
}

.filter-item label {
  position: relative;
  display: block;
  cursor: pointer;
  user-select: none;
}

.filter-manufacturers-list .filter-label {
  font-size: 15px;
  line-height: 20px;
}

.filter-power-list .filter-label {
  font-size: 14px;
  line-height: 20px;
}

.filter-input-checkbox + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;
  width: 25px;
  height: 25px;
  background: url("../img/decor/checkbox-off.svg") no-repeat 0 0;
}

.filter-input-checkbox:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;
  width: 25px;
  height: 25px;
  background: url("../img/decor/checkbox-on.svg") no-repeat 0 0;
}

.filter-input-radio + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;
  width: 25px;
  height: 25px;
  background: url("../img/decor/radio-off.svg") no-repeat 0 0;
}

.filter-input-radio:checked + label::before {
  content: "";
  position: absolute;
  top: -2px;
  left: -37px;
  width: 25px;
  height: 25px;
  background: url("../img/decor/radio-on.svg") no-repeat 0 0;
}

.filter-power-type {
  position: relative;
  padding-left: 30px;
}

.catalog-part-caption {
  width: auto;
  min-height: 39px;
  margin-top: 0;
  padding-left: 19px;
  padding-top: 12px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter-price input {
  width: 110px;
  height: 75px;
  border-radius: 3px;
}

.filter-price-diapason {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  border-bottom: 1px solid #c5c5c5;
}

.filter-price-diapason input {
  width: 95px;
  height: 40px;
  margin-bottom: 23px;
  text-align: center;
}

.filter-price-dash {
  display: block;
  position: relative;
  width: 30px;
  padding-top: 10px;
}

.filter-price-dash::after {
  content: "";
  position: absolute;
  top: 20px;
  left: 12px;
  width: 10px;
  height: 1px;
  background-color: #000000;
}

.filter-manufacturers {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.legend-manufacturers {
  margin-left: -13px;
  margin-bottom: 13px;
}

.filter-manufacturers-container {
  margin-left: -13px;
  margin-bottom: -10px;
  border-bottom: 1px solid #c5c5c5;
}

.filter-item {
  width: auto;
  min-height: 40px;
}


.legend-power {
  margin: 0;
  padding: 0;
  margin-left: -13px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.filter-power-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -13px;
  margin-bottom: 49px;
}

.filter-power-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn-filter {
  width: 140px;
  min-height: 39px;
  padding-top: 5px;
  padding-left: 10px;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.btn-filter:hover,
.btn-filter:focus {
  border-color: #b5b5b5;
  color: #b8b8b8;
}

.btn-filter:active {
  border-color: #e9e9e9;
  color: #b8b8b8;
}

.sort-caption {
  display: flex;
}

.caption-sort {
  width: 230px;
}

.sort-list {
  width: 469px;
  height: 39px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-top: 11px;
  background-color: #f7f3ec;
}

.sort-item {
  min-width: 11px;
  margin: 12px 15px 0 10px;
}

.sort-item:nth-child(5){
   margin-left: 6px;
 }

.sort-item:nth-child(4){
  margin-left: 30px;
}

.sort-item:nth-child(3){
  margin-left: 50px;
}

.sort-item:nth-child(2){
  margin-left: 57px;
}

/* стилизация блока промо */

.container {
  width: 960px;
  padding: 0 10px;
  margin: auto;
}

.main-container ul,
.catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-item a {
  display: inline-block;
  width: 135px;
  height: auto;
  text-align: center;
  vertical-align: top;
  padding: 10px 0;
  margin: 63px 0 0 25px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-item a:hover,
.promo-item a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-item a:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.promo-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
}

.promo-item-container {
  display: flex;
  flex-direction: column;
}

.promo-item-title {
  position: absolute;
  top: 20px;
  left: 22px;
  width: 150px;
  height: 30px;
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;

}

.promo-wrapper {
  display: flex;
  margin-top: 20px;
}

.materials {
  background-color: #ffbf47;
}

.promo-item-title::after {
  content: "";
  position: absolute;
  top: 11px;
  right: -86px;
  width: 44px;
  height: 65px;
  background: url("../img/decor/icon-materials.svg") no-repeat 0 0;
}

.instruments-title::after {
  right: -100px;
  width: 75px;
  height: 61px;
  background: url("../img/decor/icon-instruments.svg") no-repeat 0 0;
}

.machinery-title::after {
  right: -100px;
  width: 78px;
  height: 62px;
  background: url("../img/decor/icon-machinery.svg") no-repeat 0 0;
}

.discounts-title::after {
  top: 6px;
  right: -85px;
  width: 59px;
  height: 72px;
  background: url("../img/decor/icon-discounts.svg") no-repeat 0 0;
}

.delivery-title::after {
  right: -100px;
  width: 78px;
  height: 63px;
  background: url("../img/decor/icon-delivery.svg") no-repeat 0 0;
}

.flag {
  position: absolute;
  top: -0.1px;
  right: -0.1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new {
  background: url("../img/decor/new-flag.png") no-repeat 0 0;
}

.instruments {
  background-color: #3bbce3;
}

.machinery {
  background-color: #dc91d8;
}

.discounts {
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

/* стилизация для слайдера */

.punchers {
  position: relative;
  width: 620px;
  height: 266px;
}

.drills {
  display: none;
  position: relative;
  width: 620px;
  height: 266px;
}

.promo-slider {
  position: relative;
}

.slider-switcher::before {
  content: "";
  position: absolute;
  top: -140px;
  left: 25px;
  width: 22px;
  height: 40px;
  background: url("../img/decor/icon-left.png") no-repeat 0 0;
}

.slider-switcher::after {
  content: "";
  position: absolute;
  top: -140px;
  left: 580px;
  width: 22px;
  height: 40px;
  background: url("../img/decor/icon-right.png") no-repeat 0 0;
}


.slider-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  padding: 25px 0 0 25px;
}

.slide-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
  text-transform: uppercase;
}

.slide-text {
  margin: 0;
  margin-top: 4px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-container {
  margin-left: 20px;
  margin-bottom: 53px;
}

.button-slider {
  position: absolute;
  top: 112px;
  left: 0 ;
  display: inline-block;
  width: 195px;
  height: 39px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  vertical-align: top;
  padding-top: 12px;
  color: #ffffff;
  margin: 92px 0 0 25px;
  background-color: #ee3643;
  border-radius: 2px;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #ca2c37;
}

.button-slider:active {
  background-color: #ba2732;
}

.slider-switcher {
  display: flex;
  position: relative;
  margin-top: -20px;
  width: 1px;
  height: 39px;
}

.slider-radio-wrapper {
  position: absolute;
  top: 205px;
  left: 290px;
  width: 80px;
  height: 40px;
}

.promo-slider-radiobox {
  position: relative;
  display: flex;
}

.switch-slider {
  position: absolute;
  top:14px;
  left: 7px;
  width: 10px;
  height: 10px;
  background: url("../img/decor/slider dots.png") no-repeat 0 0;
}

.promo-slider-radiobox .right {
  left: 27px;
}

.switch-slider:nth-child(2) {
  margin-right: 10px;
}


.promo-slider-radio:checked + .switch-slider::before {
   content: "";
   position: absolute;
   padding-left: 10px;
   top: 2px;
   left: 2px;
   width: 7px;
   height: 7px;
   background: url("../img/decor/slider indicator.png") no-repeat 0 0;
 }

/* стилизация блоков популярных товаров и популярных производителей */

.title {
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.manufacturers-header .title {
  margin-left: -3px;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 23px 0 28px;
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-bottom: 10px;
}

.button-red {
  width: 254px;
  min-height: 38px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.goods-list-container {
  margin-left: -10px;
  margin-bottom: 52px;
}

.sort .goods-list-container {
  margin-bottom: 42px;
}

/* стилизация карточки товара  */

.catalog-items {
  width:700px;
  margin:20px auto;
}

.goods-list {
  display: flex;
  margin-bottom: 20px;
}

.catalog-goods-list {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
  text-transform: none;
}

.goods-list img {
  padding: 0;
}

.promo-goods h3,
.slide-title {
  margin: 0;
  padding: 0;
}

.goods-item {
  position: relative;
  display: inline-block;
  width: 220px;
  min-height: 318px;
  margin: 10px;
  border: 1px solid #eaeaea;
  text-align: center;
  vertical-align: top;
  transition: transform 0.4s ease-out;
}

.goods-item a {
  font-size: 14px;
  line-height: 18px;
}

.sort-item a {
  margin: 0;
  padding: 0;
  color: #cacaca;
  border-bottom: 1px dotted #ee3643;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sort-item .active {
  color: #ee3643;
  border: none;
}

.buttons {
  width: 180px;
  height: 160px;
  display: none;
}

.goods-item-container {
  width: 180px;
  height: 160px;
  margin: 0 auto;
  margin-bottom: 18px;
}

.goods-item:hover .buttons {
  display: inline-block;
  vertical-align: top;
}

.goods-item:hover img {
  display: none;
}

.goods-item:hover {
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.7);
}

.buttons a{
  display: inline-block;
  width: 135px;
  height: 35px;
  text-align: center;
  vertical-align: top;
  border-radius: 2px;
}

.buy {
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  margin-top: 42px;
  padding-top: 10px;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
  padding-top: 7px;
  margin-top: 10px;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #32425c;
}

.bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.bookmark:active .header-bookmark {
  background-color: #ee3643;
}

.bookmark:visited .header-bookmark {
  background-color: #ee3643;
}

.goods-item h3,
.goods-item p {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 700;
}

.goods-item-span {
  text-transform: uppercase;
}

.goods-img-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 184px;
  height: 165px;
  padding-right: 20px;
}

.bosch-9000 {
  padding: 6px 3px 0 0;
}

.bosch-6000 {
  padding-right: 24px;
}

.bosch-2000 {
  padding-right: 32px;
}
/*
.goods-img-container img {
  width: inherit;
}
*/

.name-item {
  min-height:40px;
  padding:0 25px;
  margin-top: 10px;
  margin-bottom: -5px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}

.goods-item p {
  font-size: 17px;
  line-height: 18px;
  text-transform: uppercase;
}

.old-price {
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
  color: #aaaaaa;
  text-decoration: line-through;
}

.no-price {
  color: #ffffff;
}

.new-price {
  position:relative;
  width:140px;
  margin: 9px 0 20px 41px;
  padding:10px 0;
  border-radius:3px;
  color: #ffffff;
  background-color: #ee3643;
}

.new-price:after {
  content:"";
  position:absolute;
  top:0;
  right:-19px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.manufacturers-list {
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufacturers-item {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 215px;
  min-height: 145px;
  margin: 0 20px 20px 0;
  border: 1px solid #eaeaea;
  flex-grow: 1;
}

.manufacturers-item:hover {
  box-shadow: 0 5px 50px -10px rgba(0, 0, 0, 0.7);
}

.manufacturers {
  margin-top: -42px;
  margin-bottom: 67px;
}

.first-row {
  margin-top: 10px;
}

.sort-footer {
  display: flex;
}

.sort-footer .page-link {
  min-width: 37px;
  min-height: 37px;
  margin-right: 12px;
  padding-top: 9px;
  padding-left: 14px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.next {
  width: 140px;
  padding-top: 9px;
  padding-left: 29px;
  color: #000000;
  border: 1px solid #e5e5e5;
  border-radius: 3px;
}

.sort-footer a:hover,
.sort-footer a:focus {
  border-color: #bdc6ca;
}

.sort-footer a:active {
  border-color: #ee3643;
}

.sort-footer .current {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-tale {
  min-height: 263px;
  padding-top: 69px;
  background-color: #f2f6f8;
}

.tale-header h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;
}

.catalog-tale p {
  margin: 0;
  padding: 0;
  width: 940px;
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

/* стилизация блока Сервисы, блоков О Компании и Контакты */

.services {
  min-height: 528px;
  padding-top: 67px;
  background-color: #f4f8f9;
  margin-bottom: 75px;
}

.services-wrapper {
  display: flex;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.about {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.about-text {
  width: 400px;
  margin-top: 23px;
  margin-bottom: 20px;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.contacts-text {
  width: 185px;
  margin-bottom: 32px;
}

.contacts-map {
  margin-bottom: 30px;
}

.services-switcher {
  display: flex;
  flex-direction: column;

}

.text-content {
  margin: 0;
}

.services-slogan {
  width: 400px;
}

.services-title {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services-header .services-text {
  margin-bottom: 72px;
}

.services-slider {
  position: relative;
}

.guaranty-slide {
  display: none;
}

.credit-slide {
  display: none;
}

.image-delivery {
  position: absolute;
  top: 20px;
  left: 150px;
  width: 468px;
  height: 261px;
  background: url("../img/content/delivery-services.png") no-repeat 0 0;
}

.image-guaranty {
  position: absolute;
  top: 0;
  left: 230px;
  width: 389px;
  height: 283px;
  background: url("../img/content/guarantee-services.png") no-repeat 0 0;
}

.image-credit {
  position: absolute;
  top: 0;
  left: 175px;
  width: 465px;
  height: 285px;
  background: url("../img/content/credit-services.png") no-repeat 0 0;
}

.serve-slide-title {
  margin-bottom: 30px;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.services-text {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services input {
  display: none;
}

.services-label {
  width: 240px;
  min-height: 59px;
  padding-top: 10px;
  padding-left: 24px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #4d637b;
  border-bottom: 1px solid #293449;
}

.services-label:hover {
  color: #ffffff;
  background-color: #293449;
}

.services-label:active {
  color: #ffffff;
  background-color: #293449;
}

.services-input:checked + .services-label {
  color: #32425c;
  background-color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.services-decor {
  margin: -40px 80px 0 -10px;
  width: 10px;
  height: 272px;
  background-image: url("../img/decor/services-shadow.png");
  background-repeat: no-repeat;
}

.transport-list {
  position: relative;
}

.transport-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: 0;
  width: 25px;
  height: 2px;
  background-color: #ee3643;
}

.transport-item:nth-child(2)::before {
  top: 50px;
}

.transport-item:nth-child(3)::before {
  top: 90px;
}

.transport-item {
  padding-left: 36px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.transport-item:last-child {
  margin-bottom: 36px;
}

.btn-transport {
  width: 220px;
  padding-top: 12px;
}

.contacts-feedback {
  width: 300px;
  padding-top: 12px;
  padding-left: 5px;
}

/* Стилизация футера */

.main-footer p {
  margin-top: 0;
  padding-left: 2px;
}

.footer .copyright {
  width: 126px;
  min-height: 85px;
}

.main-footer ul {
  list-style: none;
}

.footer-logo {
  height: 45px;
  padding-top: 15px;
  margin-right: 170px;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 30px;
}

.catalog-header .footer-logo:hover,
.catalog-header .footer-logo:focus {
  background-color: #ca2c37;
  border-color: #bf2d38;
}

.catalog-header .footer-logo:active {
  background-color: #ba2732;
  border: 1px solid #b72732;
  box-shadow: 0 5px #8e1e26;
}

.footer-navigation {
  min-height: 193px;
  background-color: #32425c;
}

.footer-navigation-container {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-header {
  display: flex;
  flex-direction: column;
  margin-right: -38px;
}

.footer-nav-list {
  width: 543px;
  margin-bottom: 34px;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

.footer-subnav-list {
  width: 518px;
  margin-left: 23px;
  display: flex;
}

.footer-nav-list a {
  margin-right: 57px;
  color: #f1f5f7;
  text-transform: none;
}

.footer-nav-list .news-link {
  margin-right: 59px;
}

.footer-nav-list .catalog-link {
  margin-right: 61px;
}

.footer-nav-list .delivery-link {
  margin-right: 60px;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus,
.footer-subnav-list a:hover,
.footer-subnav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: #929caa;
}

.footer-subnav-list a {
  margin-right: 59px;
  color: #ffd180;
  text-transform: none;
}

.footer-subnav-list a:active {
  color: #998a6e;
}

.footer-contacts {
  background-color: #293449;
}

.footer-contacts-container {
  display: flex;
  padding-top: 37px;
  font-size: 16px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.footer-copyright {
  width: 240px;
  margin-right: 140px;
}

.footer-contacts a {
  color: #ffd180;
  text-transform: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-contacts a:active {
  color: #ee3643;
}

.footer-social {
  margin-right: 125px;
  padding-top: 3px;
}

.footer-social a {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: -20px 0 0 126px;
  text-align: center;
  vertical-align: top;
  color: #ffffff;
  background: url("../img/decor/vk-icon.png") no-repeat 6px 11px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social .facebook {
  margin-left: 5px;
  background: url("../img/decor/fb-icon.png") no-repeat 13px 8px;
  background-color: #212a3a;
  border-radius: 50%;
}

.footer-social .insta {
  margin-left: 5px;
  background: url("../img/decor/insta-icon.png") no-repeat 9px 8px;
  background-color: #212a3a;
  border-radius: 50%;
}


.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
  text-decoration: none;
}

.footer-social-list {
  width: 150px;
  min-height: 50px;
  display: flex;
  margin-right: 90px;
}

.footer-container {
  width: 305px;
  display: flex;
  justify-content: space-between;
  padding-left: 48px;
}

.footer-contacts-text {
  margin-right: 50px;
}

/*  стилизация модальных окон  */

.modal {
  display: none;
  position: fixed;
  color: #000000;
  background-color: #ffffff;
  box-shadow: 0 30px 50px rgba(0, 0, 0, 0.7);
}

.modal-show {
  display: block;
}

.feedback-form-container {
  width: 620px;
  padding: 50px 70px 0 70px;
  margin: 0 auto;
}

.modal-feedback {
  top: 20px;
  left: 330px;
  min-height: 430px;
  border-top: 7px solid #ee3643;
}

.close-popup {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 22px;
  height: 22px;
  font-size: 0;
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
}

.close-popup::before,
.close-popup::after {
  content: "";
  position: absolute;
  top: 9px;
  right: 1px;
  width: 22px;
  height: 3px;
  background-color: #ee3643;
}

.close-popup::before {
  transform: rotate(45deg);
}

.close-popup::after {
  transform: rotate(-45deg);
}

.modal-feedback label {
  font-size: 18px;
  line-height: 18px;
}

.feedback-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.feedback-container-contacts {
  display: flex;
  margin-bottom: 10px;
}

.feedback-name {
  margin-right: 160px;
}

.modal-feedback input,
.modal-feedback textarea {
  font-family: 'PT Sans', 'Arial', sans-serif;
  font-size: 13px;
  line-height: 18px;
  border: 2px solid #dee3e4;
}

.feedback-container input {
  width: 220px;
  min-height: 38px;
  padding-left: 15px;
}

.feedback-letter {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
}

.feedback-container-text textarea {
  width: 460px;
  min-height: 115px;
  padding-top: 10px;
  padding-left: 15px;
}

.feedback-button {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 620px;
  min-height: 113px;
  background-color: #f4f4f4;
}

.bnt-feedback {
  width: 460px;
  min-height: 39px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

/*  модальное окно для карты  */

.map-popup {
  top: 20px;
  left: 22px;
}

.map-popup .close-popup {
  background-color: transparent;
}

/*  модальное окно для карзины  */

.modal-cart {
  top: 50px;
  left: 290px;
  width: 620px;
  min-height: 282px;
  border-top: 7px solid #ee3643;
}

.modal-cart-top {
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  font-size: 30px;
  line-height: 18px;
  width: auto;
  min-height: 170px;
}

.cart-title {
  padding-left: 25px;
}

.cart-title::before {
  content: "";
  position: absolute;
  top: 48px;
  left: 80px;
  width: 75px;
  height: 75px;
  background: url("../img/decor/form-on.svg") no-repeat 0 0;
}

.modal-cart-bottom {
  display: flex;
  width: auto;
  min-height: 114px;
  justify-content: center;
  align-items: center;
  background-color: #f1f1f1;
}

.modal-cart-order,
.modal-cart-continue {
  width: 220px;
  min-height: 39px;
  margin-right: 20px;
  padding-top: 12px;
  font-family: 'Cuprum', 'Arial', sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  color: #ffffff;
  background-color: #ee3643;
  text-transform: uppercase;
  border: none;
  border-radius: 3px;
}

.modal-cart-continue {
  color: #000000;
  background-color: #ffffff;
}
