html,
body {
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Cuprum', Arial, sans-serif;
  font-size: 17px;
  line-height: 24px;
  font-weight: 400;
  color: #000000;

  background-color: #ffffff;
}

a {
  text-decoration: none;
  text-transform: uppercase;
}

img {
  max-width: 100%;
  height: auto;
}

.feedback { color: black }
.feedback ul { list-style: none }
.feedback p { margin-bottom: 0 }

html { box-sizing: border-box; }
*, *::before, *::after { box-sizing: inherit; }

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* стилизация хедера */
.header-up {
  min-height: 320px;
  background-color: #f3f7f9;
  margin-bottom: 60px;
}

.catalog-header {
  display: flex;
  flex-direction: column;
  margin-bottom: 18px;
}

.main-header ul,
.catalog-header ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.store-navigation {
  background-color: #293449;
}

.store-nav-container {
  display: flex;
  margin-bottom: 49px;
  justify-content: space-between;
  font-size: 17px;
  line-height: 18px;
  color: #ffffff;
  background-color: #293449;
}

.store-nav-wrapper {
  display: flex;
  justify-content: space-between;
}
/*
.store-navigation a {
  padding-top: 10px;
  color: #ffffff;
}*/

.logo {
  margin: 0;
  padding: 0;
  display: block;
  box-sizing: content-box;
  padding-top: 10px;
  color: #ffffff;
  width: 220px;
  height: 30px;
  margin-right: 18px;
  text-align: center;
  font-size: 24px;
  line-height: 24px;
  background-color: #ee3643;
  border: 1px solid #e03643;
  box-shadow: 0 5px #b52933;
}

.header-logo:hover,
.header-logo:focus {
  background-color: #ca2c37;
  border-color: #bf2d38;
}

.header-logo:active {
  background-color: #ba2732;
  border: 1px solid #b72732;
  border-bottom: 5px solid #8e1e26;
}


.search-label {
  display: block;
  padding: 8px 5px 7px 20px;
  position: relative;

}

.search-label::before {
  content: "";
  position: absolute;
  top: 10px;
  left: -3px;
  background-image: url("../img/decor/icon-search.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 25px;
  height: 23px;
}

.search-label:hover::before,
.search-label:focus::before {
  background-image: url("../img/decor/icon-search-focus.svg");
}

.store-nav-icon {
  display: block;
  position: relative;
  padding-top: 10px;
  padding-left: 30px;
  color: #ffffff;
  text-transform: none;
}

.store-nav-icon::before {
  content: "";
  position: absolute;
  top: 10px;
  left: 5px;
  background-image: url("../img/decor/icon-bookmark.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 25px;
  height: 23px;
}

.store-nav-icon:hover::before,
.store-nav-icon:focus::before {
  background-image: url("../img/decor/icon-bookmark-focus.svg");
}

.header-cart::before {
  background-image: url("../img/decor/icon-cart.svg");
}

.header-cart:hover::before,
.header-cart:focus::before {
  background-image: url("../img/decor/icon-cart-focus.svg");
}

.store-nav-link:hover,
.store-nav-link:focus {
  background-color: #212a3a;
}

.store-nav-link:active {
  color: #a2a5a9;
  background-color: #161d29;
}

.search-header input {

  background-color: #293449;
  border: none;
}

.search-header input:focus {
  color: #000000;
  background-color: #ffffff;
}

.header-order {
  display: block;
  position: relative;
  padding: 10px 20px;

  color: #ffffff;
  background-color: #63a63e;
  text-transform: none;
}

.header-order:hover,
.header-order:focus {
  background-color: #5fbb2d;
}

.header-order:active {
  color: #aac39b;
  background-color: #518534;
}


.store-info {
  display: flex;
  justify-content: space-between;
}

.header-text {
  width: 300px;
  margin: 0;
  padding: 2px 25px 0 45px;
  font-style: italic;
  font-size: 16px;
  line-height: 23px;
  color: #ee3643;
}

.header-phone {
  margin: 0;
  padding: 0;
  display: block;
  position: relative;
  width: 265px;
  min-height: 45px;
  align-self: center;
  text-align: center;
  padding-top: 10px;
  font-size: 21px;
  line-height: 18px;
  color: #ee3643;
  border: 3px solid #ffffff;
}

.header-phone::before {
  content: "";
  position: absolute;
  left: 12px;

  width: 25px;
  height: 25px;
  background-image: url("../img/decor/icon-phone.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
}

.header-address {
  margin: 0;
  padding: 0;
  text-align: center;
  font-size: 14px;
  line-height: 24px;
  color: #32425c;
}

.user-navigation {
  max-width: 300px;
  display: flex;
  justify-content: space-between;
  align-self: center;
}

.user {
  font-size: 21px;
  line-height: 18px;
  padding: 6px 25px;
  color: #000000;
  background-color: #ffffff;
  text-transform: none;
}

.user-login {
  position: relative;
  padding-left: 50px;
}

.user-login::before {
  content: "";
  position: absolute;
  top: 9px;
  left: 14px;
  background-image: url("../img/decor/icon-login.svg");
  background-repeat: no-repeat;
  background-position: 0 0;
  width: 50px;
  height: 26px;
  opacity: 0.3;
}

.user-login:hover::before,
.user-login:focus::before {
  opacity: 1;
}


.user-name {
  margin: 0;
  padding: 0;
  min-height: 45px;
  margin-top: -20px;
  margin-right: -80px;
  font-size: 21px;
  line-height: 18px;
  padding-top: 10px;
  background-color: #ffffff;
}

.user-nav {
  width: 300px;
  min-height: 30px;
  margin-top: -18px;
  margin-left: 30px;
  padding-left: 20px;


}

.user-nav a {
  font-size: 16px;
  line-height: 18px;
  color: #32425c;
  text-transform: none;
  text-decoration: underline;
}

.user-navigation li {
  width: auto;
  min-height: 45px;
  margin-left: 10px;
  padding: 20px;
  text-align: center;
}

.user-nav-link:hover,
.user-nav-link:focus {
  color: #ee3643;
}

.user-nav-link:active {
  color: #b2b2b2;
}

.user-nav-link a {
  color: #000000;
}
 .user-link a {
   font-size: 16px;
   line-height: 18px;
   color: #32425c;
   text-decoration: underline;
 }

 .user-link a:hover,
 .user-link a:focus {
   color: #ee3643;
 }

 .user-link a:active {
   color: #b7bfc8;
 }

 .site-navigation {
   width: auto;
   min-height: 60px;
   font-size: 17px;
   line-height: 17px;
   color: #ffffff;
   background-color: #32425c;
   border-bottom: 5px solid #293449;
   display: flex;
   justify-content: space-around;
   flex-wrap: wrap;
 }

.nav-link a {
  display: block;
  color: #ffffff;
  text-align: center;
  padding: 22px 30px;
  text-transform: none;
}

.nav-link:hover,
.nav-link:focus {
  background-color: #293449;
}

.nav-link:active {
  color: #868c95;
  background-color: #1d2739;
}

.breadcrumbs {
  display: flex;

}

.breadcrumbs-item {
  width: 110px;
  min-height: 30px;
  margin-right: 10px;
}

.breadcrumbs-link {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
}

.catalog-title {
  margin: 0;
  padding: 0;
  min-height: 90px;
  margin-top: 10px;
  margin-bottom: -10px;
  padding-top: 31px;
  padding-left: 28px;
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  background-color: #f2f6f8;
  text-transform: uppercase;

}

/* стилизация основной части страницы каталога  */

.catalog-wrapper {
  display: flex;
}
/* стилизация блоков фильтр и сортировка в каталоге */

.catalog-part {
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  text-transform: uppercase;
}

.filter {
  width: 220px;
  margin-right: 20px;
}

fieldset {
  border: none;
}

.caption {
  background-color: #f7f3ec;
}

.price-field {
  background-color: #f7f3ec;
  border: none;
}

.catalog legend {
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  color: #000000;
}


.filter-form {
  display: flex;
  flex-direction: column;
}

.filter-price {
  display: flex;
  margin: -19px 0 -12px -12px;
}

.filter-title {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-size: 17px;
  line-height: 30px;
  padding-top: 15px;
  margin-bottom: -5px;
}

.filter-price-range {
  box-sizing: border-box;
  width: 220px;
  display: flex;
  padding-top: 20px;
  margin-bottom: 3px;
  border-bottom: 4px solid #ffffff;
  border-radius: 10px;
}

.catalog-part-caption {
  width: auto;
  min-height: 39px;
  padding-left: 18px;
  padding-top: 10px;
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  background-color: #f7f3ec;
}

.filter-price input {
  width: 110px;
  height: 75px;
  border-radius: 3px;
}

.filter-price-diapason {
  display: flex;
  font-size: 17px;
  line-height: 18px;
  border-bottom: 1px solid #c5c5c5;

}

.filter-price-diapason input {
  margin: 0;
  padding: 0;
  width: 95px;
  height: 40px;
  margin-bottom: 25px;
  text-align: center;
}

.filter-price-dash {
  width: 30px;
  padding-top: 10px;
}

.filter-manufacturers {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

.legend-manufacturers {
  margin-left: -13px;
  margin-bottom: 15px;
}

.filter-manufacturers-container {
  margin-left: -13px;
  margin-bottom: -10px;
  border-bottom: 1px solid #c5c5c5;
}

.filter-manufacturers-list {
  width: 220px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 22px;
}

.filter-item {
  width: auto;
  min-height: 40px;
}


.legend-power {
  margin: 0;
  padding: 0;
  margin-left: -13px;
  margin-bottom: 15px;
  letter-spacing: 1px;
}

.filter-power-container {
  width: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  margin-left: -13px;
  margin-bottom: 49px;
}

.filter-power-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.btn-filter {
  width: 140px;
  min-height: 39px;
  border: 1px solid #c5c5c5;
  background-color: #ffffff;
  font-size: 13px;
  line-height: 18px;
  text-transform: uppercase;
  color: #000000;
}

.btn-filter:hover,
.btn-filter:focus {
  border-color: #b5b5b5;
  color: #b8b8b8;
}

.btn-filter:active {
  border-color: #e9e9e9;
  color: #b8b8b8;
}

.sort-caption {
  display: flex;
  margin-bottom: 10px;
}

.sort-caption-container {
  margin-top: 11px;

}

.caption-sort {
  width: 230px;
}

.sort-list {
  width: 469px;
  height: 39px;
  display: flex;
  justify-content: flex-end;
  text-align: center;
  padding-top: 11px;
  background-color: #f7f3ec;
}

.sort-item {
  min-width: 11px;
  margin: 10px 15px 0 10px;
}

.sort-item:nth-child(5){
   margin-left: 6px;
 }

.sort-item:nth-child(4){
  margin-left: 30px;
}

.sort-item:nth-child(3){
  margin-left: 50px;
}

.sort-item:nth-child(2){
  margin-left: 57px;
}
/* стилизация блока промо */

.container {
  width: 960px;
  padding: 0 10px;
  margin: auto;
}

.main-container ul,
.catalog ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.promo-goods {
  font-weight: 700;
  font-size: 24px;
  line-height: 30px;
  color: #ffffff;
}

.promo-item a {
  display: inline-block;
  width: 135px;
  height: auto;
  text-align: center;
  padding: 13px 0;
  margin: 63px 0 0 25px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 2px;
}

.promo-goods a:hover,
.promo-goods a:focus {
  background-color: rgba(0, 0, 0, 0.3);
}

.promo-goods a:active {
  background-color: rgba(0, 0, 0, 0.5);
}

.promo-item {
  position: relative;
  width: 300px;
  min-height: 123px;
  margin-right: 20px;
}

.promo-item-container {
  display: flex;
  flex-direction: column;
}

.promo-item h3 {
  position: absolute;
  top: 22px;
  left: 22px;
  width: 150px;
  height: 30px;
  margin: 24px 22px;
  font-weight: 400;
}

.promo-wrapper {
  display: flex;
  margin-top: 20px;
}

.materials {
  background-color: #ffbf47;
}

.promo-item-title::after {
  content: "";
  position: absolute;
  top: 1px;
  right: -80px;
  width: 44px;
  height: 65px;
  background: url("../img/decor/icon-materials.svg") no-repeat 0 0;
}

.instruments-title::after {
  right: -110px;
  width: 75px;
  height: 61px;
  background: url("../img/decor/icon-instruments.svg") no-repeat 0 0;
}

.machinery-title::after {
  right: -100px;
  width: 78px;
  height: 62px;
  background: url("../img/decor/icon-machinery.svg") no-repeat 0 0;
}

.discounts-title::after {
  right: -90px;
  width: 59px;
  height: 72px;
  background: url("../img/decor/icon-discounts.svg") no-repeat 0 0;
}

.delivery-title::after {
  right: -100px;
  width: 78px;
  height: 63px;
  background: url("../img/decor/icon-delivery.svg") no-repeat 0 0;
}

.flag{
  position: absolute;
  top: -0.1px;
  right: -0.1px;
  width: 60px;
  height: 60px;
  text-indent: -1000px;
  overflow: hidden;
  z-index: 20;
}

.flag-new{
  background: url("../img/decor/new-flag.png") no-repeat 0 0;
}

.instruments {
  background-color: #3bbce3;
}

.machinery {
  background-color: #dc91d8;
}

.discounts {
  margin-bottom: 20px;
  background-color: #8ed78f;
}

.delivery {
  background-color: #ffc047;
}

/* стилизация для слайдера */

.punchers {

  background-image: url("../img/backgrounds/slide-punchrs.jpg");
  width: 620px;
  height: 266px;
  background-repeat: no-repeat;
}

.drills {
  display: none;
  background-image: url("../img/backgrounds/slide-drills.jpg");
  width: 620px;
  height: 266px;
  background-repeat: no-repeat;
}

.promo-slider {
  position: relative;
}

.promo-slider label::before {
  content: "";
  position: absolute;
  left: 20px;
  width: 22px;
  height: 40px;
  background: url("../img/decor/icon-left.png") no-repeat 0 0;
}

.promo-slider label::after {
  content: "";
  position: absolute;
  right: 20px;
  width: 22px;
  height: 40px;
  background: url("../img/decor/icon-right.png") no-repeat 0 0;
}

.slider-wrapper {
  padding: 25px 0 0 25px;
}

.slide-title {
  font-weight: 700;
  font-size: 36px;
  line-height: 30px;
  color: #ffffff;
}

.slide-text {
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
}

.promo-container {
  margin-left: 20px;
  margin-bottom: 53px;
}

.button-slider {
  display: inline-block;
  width: 195px;
  height: 39px;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  padding-top: 10px;
  color: #ffffff;
  margin: 92px 0 0 25px;
  background-color: #ee3643;
  border-radius: 2px;
}

.button-slider:hover,
.button-slider:focus {
  background-color: #ca2c37;
}

.button-slider:active {
  background-color: #ba2732;
}

.slider-switcher {
  display: flex;
  position: relative;
  margin-top: -20px;
  width: 1px;
  height: 39px;
}

.slider-switcher::before {
   content: "";
   position: absolute;
   padding-left: 10px;
   top: -10px;
   right: -295px;
   width: 5px;
   height: 15px;
   border: 3px solid #ffffff;
   border-radius: 50%;
   background-color: #ee3643;

 }

.slider-switcher::after {
  content: "";
  position: absolute;
  padding-right: 10px;
  top: -10px;
  right: -318px;
  width: 5px;
  height: 15px;
  border: 3px solid rgba(255, 255, 255, 0.5);
  border-radius: 50%;
  background-color: #ffffff;

}

/* стилизация блоков популярных товаров и популярных производителей */

.popular h2,
.popular h3 {
  margin: 0;
  padding: 0;
}

.title{
  font-weight: 400;
  font-size: 30px;
  line-height: 30px;
  color: #32425c;
  text-transform: uppercase;
}

.block-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 24px 0 30px;
  width: 940px;
  min-height: 89px;
  background-color: #f9f5f0;
  margin-bottom: 20px;
}

.button-red {
  width: 254px;
  min-height: 38px;
  text-align: center;
  padding-top: 10px;
  font-size: 14px;
  line-height: 18px;
  color: #ffffff;
  background-color: #ee3643;
  border-radius: 3px;
}

.button-red:hover,
.button-red:focus {
  background-color: #ca2c37;
}

.button-red:active {
  background-color: #ba2732;
}

.goods-list-container {
  margin-left: -10px;
  margin-bottom: 52px;
}

/* стилизация карточки товара  */

.catalog-items{
  width:700px;
  margin:20px auto;
}

.goods-list {
  display: flex;
  margin-bottom: 20px;
}

.catalog-goods-list {
  width: 750px;
  display: flex;
  flex-wrap: wrap;
}

.goods-list img {
  padding: 0;
}

.promo-goods h3,
.slide-title {
  margin: 0;
  padding: 0;
}

.goods-item {
  position: relative;
  display: inline-block;
  width: 220px;
  min-height: 318px;
  margin: 10px;
  border: 1px solid #eaeaea;
  text-align: center;
  transition: transform 0.4s ease-out;
}

.goods-item a {
  font-size: 14px;
  line-height: 18px;
}

.sort-item a{
  margin: 0;
  padding: 0;
  color: #cacaca;
  border-bottom: 1px dotted #ee3643;
}

.sort-item a:hover,
.sort-item a:focus {
  color: #000000;
  border-bottom-style: solid;
}

.sort-item .active {
  color: #ee3643;
  border: none;
}

.buttons {
  width: 180px;
  height: 167px;
  display: none;
}
.goods-item:hover .buttons {
  display: inline-block;
}

.goods-item:hover img {
  display: none;
}

/*.goods-item:hover {
  transform: scale(1.01);
}*/

.buttons a{
  display: inline-block;
  width: 135px;
  height: 35px;
  text-align: center;
  border-radius: 2px;
}

.buy {
  color: #ffffff;
  background-color: #63a63e;
  border-bottom: 3px solid #367315;
  margin-top: 42px;
  padding-top: 10px;
}

.buy:hover,
.buy:focus {
  background-color: #5fbb2d;
}

.buy:active {
  background-color: #518534;
  border-bottom: 3px solid #518534;
}

.bookmark {
  color: #32425c;
  border: 3px solid #63a63e;
  padding-top: 7px;
  margin-top: 10px;
}

.bookmark:hover,
.bookmark:focus {
  border-color: #32425c;
}

.goods-item .bookmark:active {
  color: #c1c6ce;
  border-color: #c1c6ce;
}

.goods-item h3,
.goods-item p {
  font-family: 'PT Sans', sans-serif;
  font-weight: 700;
}

.name-item {
  min-height:40px;
  padding:0 25px;
  margin-top:10px;
  margin-bottom:15px;
  font-size: 18px;
  line-height: 20px;
  color: #000000;
}


.goods-item p {
  font-size: 17px;
  line-height: 18px;
}

.old-price {
  min-height:20px;
  margin-top:15px;
  margin-bottom:10px;
  color: #aaaaaa;
  text-decoration: line-through;
}
.no-price {
  color: #ffffff;
}

.new-price {
  position:relative;
  width:140px;
  margin:10px auto;
  margin-bottom:20px;
  padding:10px 30px;
  border-radius:3px;
  color: #ffffff;
  background-color: #ee3643;
}

.new-price:after{
  content:"";
  position:absolute;
  top:0;
  right:-19px;
  width:0;
  height:0;
  border:19px solid white;
  border-left-color:#ee3643;
}

.goods {
  margin-bottom: 20px;
}

.manufacturers-list {
  width: 960px;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.manufacturers-item {
  display: inline-block;
  width: 215px;
  min-height: 145px;
  text-align: center;
  vertical-align: middle;
  margin: 0 20px 20px 0;
  border: 1px solid #eaeaea;
  flex-grow: 1;
}

#manufacture {
  margin-bottom: 67px;
}

.sort-footer {
  display: flex;
}

.sort-footer a {
  margin: 0;
  padding: 0;
  min-width: 37px;
  min-height: 37px;
  margin-right: 10px;
  text-align: center;
  padding-top: 7px;
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 18px;
  color: #000000;
  border: 1px solid #e5e5e5;
}

.next {
  width: 140px;
  padding-left: 30px;
  padding-right: 30px;
}

.sort-footer a:hover,
.sort-footer a:focus {
  border-color: #bdc6ca;
}

.sort-footer a:active {
  border-color: #ee3643;
}

.sort-footer .current {
  color: #ffffff;
  background-color: #ee3643;
}

.catalog-tale {
/*  width: 1286px;*/
  min-height: 263px;
  padding-top: 69px;
  background-color: #f2f6f8;
}

.tale-header h2 {
  margin: 0;
  padding: 0;
  font-family: 'Cuprum', sans-serif;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  margin-bottom: 30px;
  text-transform: uppercase;

}

.catalog-tale p {
  margin: 0;
  padding: 0;
  width: 940px;
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  line-height: 24px;
}

/* стилизация блока Сервисы, блоков О Компании и Контакты */

.services {
  padding-top: 67px;
  background-color: #f4f8f9;
  margin-bottom: 83px;
}

.services-wrapper {
  display: flex;
}

.about-contacts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 88px;
}

.about {
  width: 580px;
  display: flex;
  flex-direction: column;
}

.about-text {
  width: 400px;
  margin-top: 23px;
  margin-bottom: 23px;
}

.contacts {
  width: 300px;
  display: flex;
  flex-direction: column;
}

.contacts-text {
  width: 185px;
  margin-bottom: 32px;
}

.contacts-map {
  margin-bottom: 30px;
}

.services-switcher {
  display: flex;
  flex-direction: column;

}

.text-content {
  margin: 0;
  padding: 0;
}

.services-title {
  margin-bottom: 29px;
  font-weight: 400;
  font-size: 30px;
  line-height: 24px;
  text-transform: uppercase;
}

.services-header {

}

.services-header .services-text {
  margin-bottom: 70px;
}

.services-slider {
  position: relative;
  padding-top: 5px;
}

.serve-slide {
  position: absolute;
}

.delivery-slide {

}

.guaranty-slide {
  display: none;
}

.credit-slide {
  display: none;
}

.delivery-slide img {
  margin-top: -183px;
  margin-left: 150px;
}

.guaranty-slide img {
  margin-top: -228px;
  margin-left: 240px;
}

.credit-slide img {
  margin-top: -158px;
  margin-left: 165px;
}

.serve-slide-title {
  margin-bottom: 28px;
  font-weight: 400;
  font-size: 36px;
  line-height: 24px;
  text-transform: uppercase;
  color: #32425c;
}

.services-text {
  font-family: 'PT Sans', sans-serif;
  font-size: 13px;
  line-height: 24px;
}

.services input {
  display: none;
}

.services-label {
  width: 240px;
  min-height: 61px;
  font-weight: 700;
  font-size: 21px;
  line-height: 30px;
  color: #ffffff;
  background-color: #32425c;
  border-top: 1px solid #4d637b;
  border-bottom: 1px solid #293449;
}

.services-label:hover {
color: #ffffff;
  background-color: #293449;
}

.services-label:active {
  color: #32425c;
  background-color: #ffffff;
  border-top-color: #ffffff;
  border-bottom-color: #ffffff;
}

.services-decor {
  margin: -40px 80px 0 -10px;
  width: 10px;
  height: 272px;
  background-image: url("../img/decor/services-shadow.png");
  background-repeat: no-repeat;
}

.transport-list {
  position: relative;

}

.transport-item::before {
  content: "";
  position: absolute;
  top: 8px;
  left: -5px;
  width: 30px;
  height: 2px;
  background-color: #ee3643;
}

.transport-item:nth-child(2)::before {
  top: 50px;
}

.transport-item:nth-child(3)::before {
  top: 90px;
}

.transport-item {
  padding-left: 32px;
  font-size: 18px;
  line-height: 20px;
  margin-bottom: 20px;
}

.transport-item:last-child {
  margin-bottom: 36px;
}

.btn-transport {
  width: 220px;
}

.contacts-feedback {
  width: 300px;
}

/* Стилизация футера */
/*

.main-footer {
!*  min-height: 300px;*!
}
*/

.main-footer p {
  margin: 0;
  padding: 0;
}

.main-footer ul {
  list-style: none;
}

.footer-logo {
  height: 45px;
  padding-top: 15px;
  margin-right: 170px;
  margin-bottom: 32px;
  font-size: 30px;
  line-height: 30px;
}

.footer-navigation {
  background-color: #32425c;
}

.footer-navigation-container {
  display: flex;
  justify-content: flex-start;
  font-size: 18px;
  line-height: 24px;
  color: #ffffff;
  background-color: #32425c;
}

.footer-header {
  display: flex;
  flex-direction: column;
}

.footer-nav-list {
  width: 543px;
  margin-bottom: 34px;
  padding-top: 18px;
  display: flex;
  justify-content: space-between;
}

.footer-subnav-list {
  width: 518px;
  margin-left: 25px;
  display: flex;
  justify-content: space-between;
}

.nav-container h2 {

}

.footer-nav-list a {
  color: #f1f5f7;
  text-transform: none;
}

.footer-nav-list a:hover,
.footer-nav-list a:focus,
.footer-subnav-list a:hover,
.footer-subnav-list a:focus {
  text-decoration: underline;
}

.footer-nav-list a:active {
  color: #929caa;
}

.footer-subnav-list a {
  color: #ffd180;
  text-transform: none;
}

.footer-subnav-list a:active {
  color: #998a6e;
}
.footer-contacts {
  background-color: #293449;
}

.footer-contacts-container {
  display: flex;
  padding-top: 37px;
  font-size: 18px;
  line-height: 16px;
  color: #ffffff;
  background-color: #293449;
}

.footer-copyright {
  width: 240px;
  margin-right: 140px;
}

.footer-contacts a {
  color: #ffd180;
  text-transform: none;
}

.footer-contacts a:hover,
.footer-contacts a:focus {
  text-decoration: underline;
}

.footer-contacts a:active {
  color: #ee3643;
}

.footer-social a{
  color: #ffffff;
  background-color: #212a3a;
}

.footer-social a:hover,
.footer-social a:focus,
.footer-social a:active {
  background-color: #ee3643;
  text-decoration: none;
}

.footer-social-list {
  width: 270px;
  min-height: 50px;
  display: flex;
  margin-right: 90px;
}

.footer-container {
  width: 305px;
  display: flex;
  justify-content: space-between;
}

.modal {
  display: none;
}
